@media screen and (max-width: 1700px) {
  .wrapper {
    width: 1300px;
  }

  main {
    >div {
      width: 1300px;
    }
  }
}

@media screen and (max-width: 1400px) {
  // FONT
  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  .wrapper {
    width: 90%;
  }

  main {
    >div {
      width: 90%;
    }
  }

  .item-carousel {
    height: 400px;
  }

  .introduction {
    >div.description {
      .service-lists>div {
        >svg {
          font-size: 25px;
        }
    
        >h5 {
          font-size: 16px;
        }
      }
    }
  }

  .advertise-word {
    width: 100%;

    h1,
    h4,
    h5 {
      margin-left: 5%;
    }

    >.content-field {
      margin-top: -100px;
    }
  }

  .popular-article {
    .content-field {
      grid-gap: 15px;
      >div {
        height: 250px;
        >.item-detail {
          bottom: 110px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .introduction {
    align-items: flex-start !important;
    margin-top: -100px;
  }

  .introduction>div {
    width: calc(50% - 20px);
  }

  .advertise-word {
    >.content-field> :nth-child(1) {
      margin-top: 362px;
    }
  }

  .preference-bar {
    width: 330px;
  }

  main {
    &.main-destination {
      .product-container {
        width: calc(100% - 350px);
        .product-list {
          width: calc(50% - 10px);
          margin-bottom: 20px;
        }
      }
    }

    &.main-article {
      > div {
        > :nth-child(1) {
          width: calc(100% - 390px);
      }
      }
    }
  }

  .article-container {
    > :nth-child(2) {
      > img {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  nav.navbar {
    > .wrapper {
      .btn-light-primary {
        display: none !important;
      }
    }
  }

  nav.navbar>.wrapper {
    >div {
      width: 50% !important;
      align-items: center;
    }

    > :nth-child(2) {
      display: none;
    }

    .btn-light-primary {
      margin: 15px;
    }
  }

  .nav-link-drawer {
    .btn-light-primary {
      margin: 15px;
      border-radius: 5px;
      border: 1px solid #d7d7d7;
      width: calc(100% - 30px);
    }
  }

  .toogle-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    margin: 25px;
    cursor: pointer;

    span {
      height: 2px;
      width: 100%;
      background-color: #fff;
    }
  }

  .nav-link-drawer {
    background-color: #ffffffc7;

    >a {
      margin: 15px;
      display: block;
      padding: 15px 25px;
      color: #000;
    }
  }

  .article-detail {
    > main {
      margin: 10px 0 !important;
    }
  }

  main {
    &.main-landing {
      > div {
        padding-bottom: 150px;
    
        &.introduction {
          flex-direction: column;
    
          >div {
            width: 100%;
    
            &.img {
              display: none;
            }
          }
        }
      }
    }

    &.main-destination {
      margin: 35px 0;
      > div {
        flex-direction: column-reverse;
      }

      .product-container {
        width: 100%;
      }
    }

    &.container-destination-detail {
      .features-description {
        flex-direction: column;
        > :nth-child(1) {
          width: 100%;
          margin-bottom: 20px;
          padding-bottom: 30px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        > :nth-child(2) {
          width: 100%;
          position: relative;
          top: 0;
        }
      }
    }

    &.main-article {
      > div {
        flex-direction: column;
        > :nth-child(1) {
          width: 100%;
        }
        > :nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  header.header-landing {
    >div {
      h1 {
        font-size: 70px;
        ;
      }

      h3 {
        font-size: 25px;
      }
    }
  }

  .article-container {
    > :nth-child(2) {
      width: calc(100% - 215px);
      > img {
        height: 270px;
      }
    }
  }

  .popular-article {
    .content-field {
      width: 100%;
    }

    .btn-dark-primary {
      margin-right: 0;
    }
  }

  .advertise-word {
    >.content-field {
      flex-wrap: wrap;
      margin-top: -175px;

      > :nth-child(4) {
        display: none;
      }

      > div {
        width: calc(33.3% - 20px);
      }
    }
  }

  .preference-bar {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 800px) {
  main {
    &.container-destination-detail {
      div {
        &.header-destination-detail {
          width: 100%;
          > div {
            &:nth-child(1) {
              width: calc(100% - 190px);
              > div {
                .item-carousel {
                  height: 534px;
                }
              }
            }
            &:nth-child(2) {
              > div {
                .item-carousel {
                  margin: -5px 0;
                  height: 181px;
                }
              }
            }
          }
        }
      }
    }

    &.main-article {
      > div {
        .article-preference-bar {
          flex-direction: column-reverse;
          > :nth-child(1) {
            width: 100%;
          }
          > :nth-child(2) {
            width: 100%;
            margin-bottom: 25px;
            flex-direction: row-reverse;
            > img {
              margin-left: 0;
              margin-right: 15px;
            }
            div {
              text-align: left;
            }
          }
        }

        .article-img-header {
          height: 250px;
        }
      }
    }

    h2 {
      font-size: 25px;
    }
  }

  .popular-article {
    .content-field {
      > div {
        > .item-detail {
          bottom: 90px;
        }
      }
      > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      > div:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      > div:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
      > div:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      > div:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      > div:nth-child(6) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    margin-top: 0;
  }

  .container-carousel {
    width: calc(100% + 10px);
    margin: 50px 0 0 -10px;
  }

  .item-carousel {
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  .product-list {
    > .product-list-description {
      padding: 15px;
    }
  }

  .main-destination-detail {
    > div {
      flex-direction: column;
      h3 {
        font-size: 20px;
      }
      >.text-right {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 25px;
        padding-top: 25px;
        text-align: left !important;
        .btn {
          width: 100%;
        }
      }
    }

    p {
      text-align: justify;
    }
  }

  .facility-container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    grid-gap: 7.5px;
  }

  .article-container {
    flex-direction: column-reverse;
    > :nth-child(1) {
      width: 100%;
      > div {
        display: inline-flex !important;
        flex-direction: row-reverse;
      }
    }
    > :nth-child(2) {
      width: 100%;
      a.btn-dark-primary {
        display: none;
      }
      > img {
        height: 200px;
      }
    }
    span {
      margin: 0 10px;
      font-size: 13px;
    }
  }

  .popular-article {
    .content-field {
      grid-gap: 10px;
      > div {
        > .item-detail {
          bottom: 110px;
        }
      }
    }
  }
  
  .advertise-word {
    h5 {
      width: 90%;
    }
    > .content-field {
      justify-content: center;
      > div {
        width: 90%;
        div {
          margin-bottom: 10px;
          img {
            height: 250px;
            object-fit: cover;
          }
        }
      }
      > :nth-child(1) {
        margin-top: 200px;
      }
      > :nth-child(2) {
        margin-top: 0;
      }
      > :nth-child(4) {
        display: block;
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 25px;
  }

  header.header-landing > div,
  header.header-destination, 
  header.header-article {
    h1 {
      font-size: 45px;
    }

    h3 {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  .item-carousel {
    height: 325px;
    >.item-detail {
      bottom: 85px;
  }
  }

  .introduction > div.description {
    h5 {
      text-align: justify;
    }
    .service-lists {
      display: block;
      > div {
        width: 100%;
        margin-top: 10px !important;
        padding: 15px;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
      }
    }
  }

  main {
    &.main-destination {
      .product-container {
        .product-list {
          width: 100%;
        }
      }
    }

    &.container-destination-detail {
      div {
        &.header-destination-detail {
          width: 100%;
          .slick-list {
            height: 350px !important;
          }
          > div {
            &:nth-child(1) {
              width: calc(100% - 120px);
            }
            &:nth-child(2) {
              width: 120px;
            }
          }
        }
      }
    }
  }

  .popular-article {
    .content-field {
      > div {
        height: 200px;
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
        .item-detail {
          bottom: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .item-carousel {
    height: 375px;
}
}